block header
  h3 Default Header
block content
  p Default Content
block content2
  p Default Content 2
block content3
  p Default Content 3
block footer
  p Default Footer
//- Blocks are containers that can be replaced, appended, or prepended
