doctype html
include includes/mix
include includes/comments
html
  head
    block title
      title Default Page Title
    block css
      link(rel="stylesheet", href="style.css")
  body
    block content