body
    p   Конструкция switch заменяет собой сразу несколько if.
        |  Она представляет собой более наглядный способ сравнить выражение сразу с несколькими вариантами.
    p.
        Конструкция switch заменяет собой сразу несколько if.
        Она представляет собой более наглядный способ сравнить выражение сразу с несколькими вариантами.
    div.wrapper#main
        a(href="http://google.com", class="link") Сайт Google
    div.slide
    // текст комент
    div(style="width=" + (100 / 3) + "%")